<!-- <app-nav-bar></app-nav-bar> -->
<mat-grid-list cols="4" rowHeight="300px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="300px">
  <mat-grid-tile>
    <ng-container [ngComponentOutlet]="teamInformation"></ng-container>
    <app-team-information></app-team-information>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-agent-information></app-agent-information>
  </mat-grid-tile>
  
</mat-grid-list>


<router-outlet></router-outlet>